*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.body {
  font-family: 'Roboto', sans-serif;
  background: var(--white-color);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  padding-bottom: 50px;
}
.header {
  background: var(--white-color);
  border-bottom: 1px solid #ececec;
  font-family: var(--roboto);
}
.page-header {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 25px;
}
.footer {
  background: #2f303a;
  padding: 60px 0;
  color: var(--white-color);
}
.footer-page {
  display: flex;
  justify-content: space-between;
}